// variable colors//
$colorp:#ffafd7;
$coloro:#ffb5a6;
$coloror:#ffc331;
$colory:#ffd230;
$colorb:#00adb6;
$colorbl:#27b4ae;
$colorsocial:rgb(3, 128, 117);
//screen breakpoints//
$medium:942px;
$large:1412px;


body{
    //box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background: url(bg1.jpg);
    
    
} 
//* Nav style *//

header{
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: rgb(53, 52, 52);
    
}
.toggler{
    display: none;
}
.logo{
    display:flex;
    margin-left: 12px;
    padding-top: 5px;
    padding-bottom:5px;
}
ul{
    position: fixed;
    margin-top: 2px;
    width: 100%;
    height: 100vh;
    padding:16px;
    background: #ffafd7;
    left:100%;
    transition: all .5s;
    list-style: none;
    li{
        margin-bottom: 70px;
        margin-left:16px;
        a{
            color:black;
            text-decoration: none;
            font-size: 18px;
            &:hover{
                background-color:$colory;
                border-radius: 10px;
                padding:10px;
                transition: ease-in .1s;
                
            }
        }
    }

}
.toggler:checked ~   nav ul {
    left:0;
}
.humburger{
    position:absolute;
    font-size: 40px;
    color:$colorb;
    top:0;
    right:0;
    margin-right: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}
.content{
    //width: 100%;
    //height: 100vh;
    margin-top: 160px;
    margin-left: auto;
    text-align: center;
    h1{
        color:$colorbl;
    }
    h2{
        word-spacing:3px;
        line-height: 39px;
        color:gray;
        
    }
    p{
        color:rgb(197, 111, 82);
        @media screen and (min-width:$medium){
            font-size: larger;
            line-height: 44px;
            color:black;
        }
    }
    

    
}

.social{
    display:flex;
    //flex-direction: column;
    justify-content: space-around;
    margin-top:180px;
    
    a{
        color:$colorsocial;
        font-size: 28px;
        &:hover{
            opacity: 50%;
            transition: ease-in-out .5s;
        }
    }
}
.second-section{
    background-color:rgb(235, 202, 199);


#moodboard{
    width: 80%;
    height: 40%;
    margin: 20px 0 0 50px;
    &:hover{
        opacity: 72%;
        transition: all .2s ease-in-out;
    }
    
}
}



// * Desktop view *//
@media screen and (min-width:$medium) {
    .humburger{
        display:none;
    }
    header{
        display:grid;
        grid-template-columns: 1fr auto;}
        
        nav{
            display:flex;
            grid-column: 3/4;
            //justify-content:;
            ul{
                all:unset;
                list-style: none;
                display:flex;
                margin-top: 27px;
                justify-content: space-evenly;
                
                
                li{
                    margin-bottom: 0;
                    margin-right: 16px;
                    a{
                        color:whitesmoke;
                        font-size: 17px;
                        &:hover{
                            color:gray;
                        }
                    }
                


                }
        }
    

    
}


        



















}